.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}

.section-1-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    gap: 1rem;

    padding: 2rem 3rem;

    position: relative;
}


.section-1-pp {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 100%;
}



.section-1-first-line {
    position: absolute;
    height: 0.1rem;
    width: 90%;
    background-color: #cacaca;
    border-radius: 20px;

    bottom: 0;
}



.section-1-data {
    display: flex;
    justify-content: space-between;
    align-items: center;


}



.section-1-first-pp {
    background-color: #363636;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
}

.main-name {
    font-size: 2rem;
    font-weight: 700;


}

.frontend-dev {
    font-size: 1rem;
    font-weight: 400;
    background-color: #4a4646;
    padding: 8px 8px;
    border-radius: 5px;
}



.section-1-data {
    background-color: rgba(41, 41, 41, 0.52);
    padding: 0.5rem 0.8rem;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    gap: 1.5rem;
}

.title {
    color: rgb(189, 189, 189);
}



.section-1-last-icons {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}


.icons {
    font-size: 1.5rem;
    
}

a:visited {
    color: inherit;
    text-decoration: none;
}