.data {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 94%;
    padding: 1rem;

}

.resume {
    color: whitesmoke;
}

.icon-title{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}